* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
    font-size: 13px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: hsl(210, 46%, 95%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#layout {
    width: 735px;
    height: 280px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    display: flex;
}

.main-img-div {
    width: 38.75%;
    height: 100%;
    overflow: hidden;
}

.main-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0vw 0vh;
}

.content {
    width: 61.25%;
    height: 100%;
    position: relative;
}

h1 {
    font-size: 20.5px;
    color: hsl(217, 19%, 35%);
    margin: 2.5rem 3rem .75rem;
}

.main-p {
    color: hsl(214, 17%, 51%);
    font-weight: 500;
    line-height: 1.6rem;
    margin: 0 3rem 1.5rem;
}

.third-row {
    width: 100%;
    display: flex;
    margin: 0 0 3rem 3rem;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 1rem;
}

h2 {
    color: hsl(217, 19%, 35%);
}

.date {
    color: hsl(212, 23%, 69%)
}

button{
    width: 32.5px;
    height: 32.5px;
    background-color: hsl(210, 46%, 95%);
    border: none;
    border-radius: 100%;
    margin-left: 13rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    background-color: hsl(217, 19%, 35%);
}

button:hover svg {
    fill: hsl(0, 0%, 100%);
}

svg {
    width: 15px;
    height: 15px;
    color: hsl(0, 0%, 100%);
    fill:hsl(214, 17%, 51%);
}


.share-div {
    width: 250px;
    height: 55px;
    background-color: hsl(217, 19%, 35%);
    border-radius: 10px;
    position: absolute;
    display: none;
    align-items: center;
    bottom: 7.5rem;
    right: -5rem;
    box-shadow: 0 5px 10px 2px hsla(217, 19%, 35%, 0.281);
    
}

.active {
    display: flex;
}

a {
    text-decoration: none;
}

.share {
    color: hsl(212, 23%, 69%);
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0 1.5rem 0 3rem;
}

.icon {
    width: 20px;
    height: 20px;
}

.facebook {
    margin-right: 1.5rem;
}

.twitter {
    margin-right: 1.5rem
}

.triangle {
    width: 18px;
    height: 18px;
    background-color: hsl(217, 19%, 35%);
    transform: rotate(45deg);
    position: absolute;
    bottom:88px;
    right:50px;
    box-shadow: 0 5px 10px 2px hsla(217, 19%, 35%, 0.281);
    display: none;
}

.block {
    display: block;
}

@media(max-width: 375px) {


    #layout {
        width: 330px;
        min-height: 515px;

        flex-direction: column;
    }
    
    .main-img-div {
        width: 100%;
        min-height: 40%;
    }
    
    .main-img {
        object-position: 0vw -1vh;
        border-radius: 10px 10px 0 0;
    }
    
    .content {
        width: 100%;
        min-height: 60%;
        position: relative;
    }
    
    h1 {
        font-size: 16px;
        font-weight: 700;
    }
    
    .main-p {
        margin: 0 2.7rem 3.25rem 3rem;
    }
    
    .third-row {
        margin: 0 0 3rem 3rem;
    }
    
    .avatar {
        margin-right: 1.3rem;
    }
    
    .name-date {
        display: flex;
        flex-direction: column;
    }

    h2 {
        margin-bottom: 2.5px;
    }
    
    
    button{
        margin-left: 4rem;
        z-index: 2;
    }

    button:hover {
        background-color: hsl(210, 46%, 95%);
    }

    button:hover svg {
        fill: hsl(214, 17%, 51%);
    }
    
    .clicked {
        background-color: hsl(214, 17%, 51%);
    }

    .fill {
        fill: hsl(0, 0%, 100%);
    }
    
    .share-div {
        width: 100%;
        height: 75px;
        border-radius: 0 0 10px 10px;
        display: none;
        bottom: 0;
        right: 0;
        box-shadow: none;
    }

    .active {
        display:flex;
    }
    
    
    .triangle {
        display: none;
    }


}